.descritpion-container {

    padding: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 0.8rem;
    line-height: 1.2;
    white-space: pre-line;
}

.title {

    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    cursor: default;
}

.grey-title {

    color: grey;
    font-size: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.grey-text {

    font-size: 0.75rem;
    color: grey;
}

.feature-ul li {

    margin-bottom: 0.10rem;
}
 
.feature-ul {

    font-size: 1rem;
    margin-top: 0rem;
    padding-left: 1rem;
    cursor: default;
}

.feature-type {

    color: black;
    font-weight: bold;
    font-size: 0.75rem;
}

.title-container {

    border-bottom: 1px solid rgb(237, 232, 232);
}

.details-container {

    margin-bottom: 250px;
    background-color: var(--grey-background);
}

.details-item-container {

    width: 100%;
    background-color: white;
    margin: 1rem;
    padding: 1rem;
}

.attachment-link {

    display: flex;
    align-items: center;
    margin-left: 0rem;
    padding-left: 0rem;
}

.attachment-link a {

    text-decoration: none;
    color: rgb(145, 184, 197);
    font-weight: bold;
    font-size: 0.7rem;
}

.keyword-bubble {

    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    background-color: lightgrey;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 15px;
    font-size: 0.7rem;
    margin-bottom: 0.25rem;
    cursor: pointer;
}

.pricing-margin {

    margin-left: 1rem;
}

.price-break-container {
    width: 50%;
    margin-top: 2rem;
}

.price-break-column {
    border-top: 1px lightgrey solid;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
}

.pricing-flex {

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {

    .price-break-container {
        width: 100%;
        margin-bottom: 0rem;
    }
}